@model RecruiterPathway.ViewModels.RecruiterViewModel

@{
    ViewData["Title"] = "Profile";
}
<div>
    <div>
        <img src="~/profile_pictures/default.png" alt="ProfilePicture" align="left" height="200" width="200" />
        <h2>@Html.DisplayFor(model => model.Recruiter.Name)</h2>
    </div>
    <br />
    <div>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Recruiter.CompanyName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Recruiter.CompanyName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Recruiter.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Recruiter.Email)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Recruiter.PhoneNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Recruiter.PhoneNumber)
            </dd>
        </dl>
    </div>
</div>
<div>
    <a class="btn btn-primary btn-small" asp-action="Edit" asp-route-id="@Model.Recruiter.Id">Edit</a>
</div>
<br />
<h6>Recruiter Watchlist:</h6>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Recruiter.WatchList.ElementAt(0).Student.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recruiter.WatchList.ElementAt(0).Student.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recruiter.WatchList.ElementAt(0).Student.Degree)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recruiter.WatchList.ElementAt(0).Student.GradDate)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Recruiter.WatchList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.Degree)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.GradDate)
                </td>
            </tr>
        }
    </tbody>
</table>
<h6>Pipeline Statuses:</h6>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Recruiter.PipelineStatuses.ElementAt(0).Student.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recruiter.PipelineStatuses.ElementAt(0).Student.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recruiter.PipelineStatuses.ElementAt(0).Student.Degree)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recruiter.PipelineStatuses.ElementAt(0).Student.GradDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recruiter.PipelineStatuses.ElementAt(0).Status)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Recruiter.PipelineStatuses)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Student.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.Degree)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.GradDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
        </tr>
        }
    </tbody>
</table>
