@model RecruiterPathway.ViewModels.StudentViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student.firstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student.firstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student.lastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student.lastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student.degree)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student.degree)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student.gradDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student.gradDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Student.Id">Edit</a> |
    <a asp-action="Index">Back to List</a> |
    <a asp-action="AddComment" asp-route-id="@Model.Student.Id">Add Comment</a>
</div>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                Commented At:
            </th>
            <th>
                Comment Left By:
            </th>
            <th>
                Comment:
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Student.Comments)
        {
            <tr>
                <td>
                    @{ 
                        var date = item.Time.ToShortDateString() + " at " + item.Time.ToShortTimeString();
                    }
                    @Html.DisplayFor(modelItem => date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Recruiter.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActualComment)
                </td>
            </tr>
        }
    </tbody>
</table>
